#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
*.keystore
*.pcapng
*.db

.env.disabled

# Exclude win64service binary artifacts and the jre.
# These files can be copied from the target folder for the jar, an existing OpenJDK directory
# for the jre folder, and src/main/resources for the startCaptureScript.ps1 file.
win64service/
